<mat-card class="post">
  <mat-card-header>
    <mat-card-title class="post__title">О блоге</mat-card-title>
    <mat-card-subtitle class="post__subtitle">
      <div>
        <mat-icon>today</mat-icon>
        <span>6 июля, 2022</span>
      </div>
      <div>
        <mat-icon>link</mat-icon>
        <span>Общее</span>
      </div>
      <div>
        <mat-icon>chat_bubble_outline</mat-icon>
        <span>Нет комментариев</span>
      </div>
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" />
  <mat-card-content>
    <p>
      Эта книга адресована всем, кто изучает русский язык. Но состоит она не из правил, упражнений и учебных текстов. Для этого созданы другие замечательные
      учебники. У этой книги совсем иная задача. Она поможет вам научиться не только разговаривать, но и размышлять по-русски.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>ЧИТАТЬ</button>
  </mat-card-actions>
</mat-card>
