.post {
  .post__title {
    font-size: 25px;
  }

  .post__subtitle {
    display: flex;
    align-items: center;
    margin-top: 0;
    gap: 10px;

    div {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}

.post-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}