.main-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: 50% 75%;
  overflow: hidden;
}

.main-text {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  font-size: 40px;
  color: white;
  background-color: rgb(0 0 0 / 86%);
  text-align: center;
}