@import './../../../styles.scss';

.main-image-section__image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: 50% 75%;
  overflow: hidden;
}

.main-image-section__text {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  font-size: 30px;
  color: white;
  background-color: rgb(0 0 0 / 86%);
  text-align: center;

  @media (min-width: $tablet-width) {
    top: 200px;
    font-size: 40px;
  }
}

.main-post-section {
  display: grid;
  gap: 20px;
  max-width: 960px;
  padding: 20px 10px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    top: 200px;
    grid-template-columns: 2fr 1fr;
    padding: 40px 20px;
  }
}

.main-search-section {
  position: absolute;
  top: 460px;
  right: 30px;
}

.main-post-list {
  display: grid;
  row-gap: 20px;
}