@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ngblog-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

ngblog-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

ngblog-home-page {
  flex-grow: 1;
  width: 100%;
  margin: 64px auto 0;
}