@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ngblog-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

ngblog-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

ngblog-home-page,
ngblog-login {
  flex-grow: 1;
  width: 100%;
  margin: 56px auto 0;

  @media (min-width: $tablet-width) {
    margin: 64px auto 0;
  }
}